<html>

<head>
  {% if 0 == stop_aishell %}
  <meta http-equiv="refresh" content="0.1;url={{ url_for('aishell') }}">
  {% endif %}
</head>

<head>
  {% if 0 == stop_asr %}
  <meta http-equiv="refresh" content="0.1;url={{ url_for('recognize') }}">
  {% endif %}
</head>

<body>

<div class="header">
  <h3> ASR </h3>
</div>

<div class="header">
  <h4> Test Aishell Demo Wav </h4>
</div>

<div class="body">
  <table>
  <tr>
    <th>
      <form class="form" action="/aishell" method="post">
        <button class="btn btn-primary" type="submit">aishell.wav</button>
      </form>
    </th>
    <th>
      <form class="form" action="/reset" method="post">
        <button class="btn btn-primary" type="submit">Reset</button>
      </form>
    </th>
  </tr>
  </table>
</div>

<div class="c" id="show2" >
  <p style="white-space:pre-line;">{{ aishell_trx }}</p>
</div>

<div class="header">
  <h4> Upload Wav For Asr (Developing) </h4>
  <table>
    <tr>
      <th>
        <form action="/upload" method = "POST" enctype = "multipart/form-data">
          <input type="file" name="file" >
          <input type="submit" value="识别">
        </form>
      </th>
      <th>
        <form class="form" action="/reset" method="post">
        <button class="btn btn-primary" type="submit">Reset</button>
        </form>
      </th>
    </tr>
  </table>
</div>

<div class="c" id="show2" >
  <p style="white-space:pre-line;">{{ trx }}</p>
</div>

<div class="body">
  <p> Notice: 16k reading model, audio will be converted. No VAD is available. Size limit: 20M. </p>
</div>

</body>
</html>