<html>

<head>
  {% if 0 == stop %}
  <meta http-equiv="refresh" content="0.5;url={{ url_for('aishell') }}">
  {% endif %}
</head>

<body>

<div class="header">
  <h3> ASR </h3>
</div>

<div class="header">
  <h4> Test Aishell Demo Wav </h4>
</div>

<div class="body">
  <table>
  <tr>
    <th>
      <form class="form" action="/aishell" method="post">
        <button class="btn btn-primary" type="submit">aishell.wav</button>
      </form>
    </th>
    <th>
      <form class="form" action="/" method="post">
        <button class="btn btn-primary" type="submit">Reset</button>
      </form>
    </th>
  </tr>
  </table>
</div>

<div class="c" id="show2" >
  <p style="white-space:pre-line;">{{ s }}</p>
</div>

<div class="header">
  <h4> Upload Wav For Asr (Developing) </h4>
  <form action = "http://localhost:5000/eng/trans" method = "POST"
    enctype = "multipart/form-data">
    <input type="file" name="file" >
    <!-- <input type="submit"> -->
  </form>
</div>

<div class="body">
  <p> Notice: do not upload audio with much noise or silence, since no VAD is available. </p>
</div>

</body>
</html>